*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.gray-bg {
    background-color: #f5f5f5;
}
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    font-weight: bolder;
    color: rgb(255, 253, 253);
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
}

.card-custom {
    overflow: hidden;
    width: 350px;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.2);
  }

  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
    .container-custom{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-content: start;
        gap: 100px;
    }
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }

  .card-text{
    text-align:justify;
  }
  .card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }
  .swiper-next,
  .swiper-prev{
    color: var(--black-color);
    z-index: 9999;
  }
  .swiper-button-disabled{
    color: var(--gray-color-500);
  }

  @media only screen and (max-width: 765px) {
    section#billboard{
      height: 100vh !important;
    }
  }


.categories-clouds li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 10px;
}

.categories-clouds li a {
    display: block;
    border: 1px solid blue;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(66, 66, 255);
}

.categories-clouds li a:hover {
    color: rgb(65, 65, 161);
}
